<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RP-AP Integration" preserve-order="true" parallel="methods" thread-count="1" >
    <test  name="Web Automation Tests" preserve-order="true">
        <classes>
            <class name="com.znsio.rpap.WebExampleTest"/>
        </classes>
    </test>
</suite>